<div class="card" style="width: 18rem;">
    <img src="http://www.codekul.com/img/CODEKUL-min.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CodeKul</h5>
      <p class="card-text">Angular, Typescript, JavaScript is the future of front end development in any application. If you have not learned Angular and wanted to learn then CodeKul will be your first priority. CodeKul is a training institute which provides training on Angular 2 in Pune. If you decided to learn Angular then enroll your name at CodeKul for Angular certification.</p>
      <a href="http://www.codekul.com/angularjs-training-institute-in-pune.html" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>